

.header {
    background-color: $gris-oscuro;
    
    padding: 1rem 0 3rem 0;
    font-family: $font;
    font-weight: $bold;
  
      
    
    &.inicio {
        background-position: center center;
        background-size: cover;
        background-image: url(../assets/img/header.jpg);

        @include tablet {
            min-height: 70rem;
        }

        .contenido-header {
            @include tablet {
                min-height: 70rem;
            }
        }
    }
}
.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    
    
    @include tablet{
        /*min-height: 70rem;*/
        
    }
    
    h1 {
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        max-width: 55rem;

    }
}
